{% extends '@Sonde/base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container-fluid">
            <div id="welcome">
                <h1>{{ company_name }}</h1>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col text-center">
                    {% include '@Sonde/Default/chartsMenu.html.twig' %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class='row'>
                <div class="col-3" style="display:none">
                    <ul class='list-group' id="sonde-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/canvasjs.min.js') }}"></script>
    <script type="text/javascript">
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title:{
                    text: ""
                },
                axisY:{
                    title: "{{ title }}",
                    minimum: {{ min_value }},
                    maximum: {{ max_value }}
                },
                data: [{
                    type: "spline",
                    markerSize: 5,
                    dataPoints: {{ chart_data|raw }}
        }]
            });

            chart.render();

        }
    </script>
{% endblock %}