{% extends '@Sonde/base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container-fluid">
            <div id="welcome">
                <h1>{{ company_name }}</h1>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col text-center">
                    {% include '@Sonde/Default/chartsMenu.html.twig' %}
                </div>
            </div>
        </div>
        <figure class="highcharts-figure">
            <div id="container"></div>
        </figure>
        <div class="container">
            <div class='row'>
                <div class="col-3" style="display:none">
                    <ul class='list-group' id="sonde-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/chart.css') }}"/>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/highcharts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/series-label.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/exporting.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/export-data.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/accessibility.js') }}"></script>
    <script type="text/javascript">
        window.onload = function () {
            Highcharts.chart('container', {
                chart: {
                    type: 'spline'
                },

                title: {
                    text: '{{ title }}'
                },

                subtitle: {
                    text: ''
                },

                legend: {
                    enabled: false
                },

                yAxis: {
                    title: {
                        text: ''
                    }
                },

                xAxis: {
                    type: 'category'
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        pointStart: 2010
                    }
                },

                series: [{
                    name: '',
                    data: {{ chart_data|raw }},
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }

            });
        }
    </script>
{% endblock %}