{% extends '@Sonde/base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container-fluid">
            <div id="welcome">
                <h1>{{ company_name }}</h1>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col">
                    <h2>{{ sonda.name }}</h2>
                </div>
                <div class="col-2">
                    <h2><a href="{{ path("sonde_charts", {'sondaId': sonda.id}) }}" class="btn btn-success">Grafice</a></h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-5"></div>
                <div class="col-6">
                    {{ form_start(form) }}
                    {{ form_label(form.rpm) }}
                    {{ form_widget(form.rpm) }}
                    {{ form_widget(form.save) }}
                    {{ form_end(form) }}
                </div>
            </div>
            <div class='row'>
                <div class="col-3">
                    <ul class='list-group' id="sonde-list">
                        {% include '@Sonde/Default/sondeMenu.html.twig' with { 'sonde': sonde, 'currentId': sonda.id } %}
                    </ul>
                </div>
                <div class="col-6 center-image">
                    <div style="width:120px; height:auto;margin-top:200px;text-align:center;float:left">
                        Curent motor <br />
                        {{ details[0].curentMotor }}
                    </div>
                    {#<img src="{{ asset('assets/images/pcp.jpeg') }}" alt="PCP" />#}
                    <div style="width:120px; height:auto;margin-top:200px;text-align:center;float:right">
                        Putere motor <br />
                        {{ details[0].putereMotor }}
                    </div>
                </div>
                <div class="col-3">
                    <ul class='list-group' id="sonde-list">
                        {% include '@Sonde/Default/sondeDetails.html.twig' with { 'details': details} %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}