<table class="table">
    <tbody>
    <tr>
        <th scope="row">Curent motor</th>
        <td>{{ random(50, 100) }}</td>
    </tr>
    <tr>
        <th scope="row">Putere motor</th>
        <td>{{ random(50, 100) }}</td>
    </tr>
    <tr>
        <th scope="row">Tensiune motor</th>
        <td>{{ random(50, 100) }}</td>
    </tr>
    <tr>
        <th scope="row">Tensiune motor</th>
        <td>{{ random(50, 100) }}</td>
    </tr>
    <tr>
        <th scope="row">Raport reductor</th>
        <td>{{ random(50, 100) }}</td>
    </tr>
    <tr>
        <th scope="row">Fulie motor</th>
        <td>{{ random(50, 100) }}</td>
    </tr>
    <tr>
        <th scope="row">Fulie reductor</th>
        <td>{{ random(50, 100) }}</td>
    </tr>
    </tbody>
</table>